@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/*Kleurenpalet:*/
/*Rood #dd3038;*/
/*Oranje #e7613a;*/
/*Licht oranje #FDF4F2;*/
/*Zwart #292929 (voor standaard tekst);*/
/*Wit #FFFFFF;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FDF4F2;
}

.nav-container {
  background-image: linear-gradient(to right, #e7613a, #dd3038);
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 250px;
}

li {
  padding: 20px;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

.active-link {
  color: #FFFFFF;
}

.nav-link {
  color: #FFFFFF;
  text-decoration: none;
}